<ion-card *ngIf="alignType()==0">
  <img class="big" loading="lazy" alt="{{product?.name}}" src="{{product?.picture}}" />
  <ion-card-header>
    <ion-card-title>{{product?.name}}</ion-card-title>
    <ion-card-subtitle>{{product?.quantity?.number}} {{product?.quantity?.type?.toLowerCase()}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="false; else buttons"> </ng-container>
  </ion-card-content>
</ion-card>

<ion-card class="mid" *ngIf="alignType()==2">
  <img class="mid" loading="lazy" alt="{{product?.name}}" src="{{product?.picture}}" />
  <ion-card-header>
    <ion-card-title class="mid">{{product?.name}}</ion-card-title>
    <ion-card-subtitle>{{product?.quantity?.number}} {{product?.quantity?.type?.toLowerCase()}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="false; else buttons"> </ng-container>
  </ion-card-content>
</ion-card>

<ion-card class="small" *ngIf="alignType()==1">
  <img class="small" loading="lazy" alt="{{product?.name}}" src="{{product?.picture}}" />
  <ion-card-header>
    <ion-card-title class="small">{{product?.name}}</ion-card-title>
    <ion-card-subtitle>{{product?.quantity?.number}} {{product?.quantity?.type?.toLowerCase()}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="false; else buttons"> </ng-container>
  </ion-card-content>
</ion-card>

<ng-template #buttons>
  <!-- Sumar -->
  <ion-col>
    <ion-button fill="clear" class="tercio" (click)="addProduct()">+</ion-button>
  </ion-col>
  <!-- Escribir numero y mostrar valor -->
  <!-- Restar -->
  <ion-col>
    <ion-button fill="clear" class="tercio" [disabled]="product!.quantity!.number <= 0"
      (click)="removeProduct()">-</ion-button>
  </ion-col>
</ng-template>