<ion-card *ngIf="alignType()==0">
  <img class="big" alt="{{product?.name}}" src="{{product?.picture}}" />
  <ion-card-header>
    <ion-card-title>{{product?.name}}</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="mid" *ngIf="alignType()==2">
  <img class="mid" alt="{{product?.name}}" src="{{product?.picture}}" />
  <ion-card-header>
    <ion-card-title class="mid">{{product?.name}}</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="small" *ngIf="alignType()==1">
  <img class="small" alt="{{product?.name}}" src="{{product?.picture}}" />
  <ion-card-header>
    <ion-card-title class="small">{{product?.name}}</ion-card-title>
  </ion-card-header>
</ion-card>