<ion-card [ngClass]="{'big': alignType()==2,  'mid': alignType()==1,  'small': alignType()==0}" id="card">
  <img [ngClass]="{'big': alignType()==2,  'mid': alignType()==1,  'small': alignType()==0}" id="img" loading="lazy"
    alt="{{product?.name}}" src="{{product?.picture}}" />
  <ion-card-header>
    <ion-card-title>{{product?.internName || product?.name}}</ion-card-title>
    <ion-card-subtitle>{{product?.quantity?.number}}
      {{product?.quantity?.type?.toLowerCase()}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <!-- Sumar -->
    <ion-button fill="clear" class="tercio" (click)="addProduct()">+</ion-button>
    <!-- Escribir numero y mostrar valor -->
    <!-- Restar -->
    <ion-button fill="clear" class="tercio" [disabled]="product!.quantity!.number <= 0"
      (click)="removeProduct()">-</ion-button>
  </ion-card-content>
</ion-card>