<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" style="width: 10%;"></ion-back-button>
    <ion-title>Regístrate</ion-title>
    <span slot="end" style="width: 10%;"></span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <form #f="ngForm" (ngSubmit)="save(f)">
      <!-- Nombre -->
      <ion-row>
        <ion-item>
          <ion-label position="stacked" aria-labelledby="name">Nombre real</ion-label>
          <ion-input type="text" placeholder="Paquito Pérez" id="name" #name name="name" ngModel required
            [pattern]="'([A-ZÁÉÍÓÚ]{1}[a-záéíóú]+ ?){1,4}'"></ion-input>
        </ion-item>
      </ion-row>

      <!-- Username -->
      <ion-row>
        <ion-item>
          <ion-label position="stacked" aria-labelledby="username">Nombre de Usuario</ion-label>
          <ion-input type="text" placeholder="Paquito23" id="username" #username name="username" ngModel required
            [pattern]="'[A-Za-z0-9-_., ]{6,}'"></ion-input>
        </ion-item>
      </ion-row>

      <!-- Email -->
      <ion-row>
        <ion-item>
          <ion-label position="stacked" aria-labelledby="email">Correo Electrónico</ion-label>
          <ion-input type="email" placeholder="cjjg@gmail.com" id="email" #email name="email" ngModel
            required></ion-input>
        </ion-item>
      </ion-row>

      <!-- Contraseña -->
      <ion-row>
        <ion-item>
          <ion-label position="stacked" aria-labelledby="password">Contraseña</ion-label>
          <ion-input type="password" placeholder="123456789Abc" id="password" #password name="password" ngModel
            [pattern]="'[A-Za-z0-9-_., ]{6,}'" minlength="6" required></ion-input>
        </ion-item>
      </ion-row>

      <!-- Repetir Contraseña -->
      <ion-row>
        <ion-item>
          <ion-label position="stacked" aria-labelledby="rpassword">Repite la contraseña</ion-label>
          <ion-input type="password" placeholder="123456789Abc" #rpassword id="rpassword" name="rpassword" ngModel
            [pattern]="password.value + ''" required></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="center lmt">
        <ion-button type="submit" [disabled]="!f.valid">Enviar</ion-button>
      </ion-row>
    </form>
  </ion-grid>

  <div class="danger" *ngIf="!f.valid">
    <!-- Name -->
    <ion-text *ngIf="f.controls['name'].invalid && 
          (f.controls['name'].dirty || f.controls['name'].touched)">
      <span>Tiene que ser tu nombre real, o entero o solo tu nombre.</span>
    </ion-text>

    <!-- Username -->
    <ion-text *ngIf="f.controls['username'].invalid && 
          (f.controls['username'].dirty || f.controls['username'].touched)">
      <span>El nombre de usuarios solo pueden insertarse alfanuméricos (Letras y números)</span>
      <span> y los caracteres especiales "-_., " y tiene que tener más de 5 caracteres.</span>
    </ion-text>

    <!-- email -->
    <ion-text *ngIf="f.controls['email'].invalid && 
          (f.controls['email'].dirty || f.controls['email'].touched)">
      <span>Escribe tu email de forma correcta.</span>
    </ion-text>

    <!-- Contraseña 1 -->
    <ion-text *ngIf="f.controls['password'].invalid && 
          (f.controls['password'].dirty || f.controls['password'].touched)">
      <span>La contraseña solo pueden insertarse alfanuméricos (Letras y números)</span>
      <span> y los caracteres especiales "-_., " y tiene que tener más de 5 caracteres.</span>
    </ion-text>

    <!-- Contraseña 2 -->
    <ion-text *ngIf="f.controls['rpassword'].invalid && 
          (f.controls['rpassword'].dirty || f.controls['rpassword'].touched)">
      <span>Las dos contraseñas tienen que coincidir</span>
    </ion-text>
  </div>

  <div id="background" class="lmt">
    <div class="loader"></div>
  </div>
</ion-content>