@import '../../../global.scss';

ion-input {
    padding: 3px;
    transition: all .4s ease-in-out;
}

ion-row {
    width: 60%;
    margin-left: 20%;
}

ion-item {
    width: 100%;
}

ion-grid {
    padding: 0;
}

.center {
    justify-content: center;
    margin-top: 50px;

    &.lmt {
        margin-top: 10px;
    }
}

#background {
    margin-top: 6.5rem;

    &.lmt {
        margin-top: 5.5rem;
    }
}

/* Menos de 500px */
@media (max-width: 500px) {
    ion-item {
        margin: 5px 2.5px;
    }

    ion-row {
        width: 90%;
        margin-left: 5%;
    }

    input {
        font-size: small;
    }
}