<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title slot="center">Inicia Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Email -->
  <ion-item>
    <ion-label position="stacked" for="email">Correo Electrónico</ion-label>
    <ion-input type="text" placeholder="cjjg@gmail.com" id="email"></ion-input>
  </ion-item>
  <!-- Contraseña -->
  <ion-item>
    <ion-label position="stacked" for="pass">Contraseña</ion-label>
    <ion-input type="text" placeholder="123456789Abc" id="pass"></ion-input>
  </ion-item>
  <ion-button>Enviar</ion-button>
</ion-content>