<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Pestaña de General -->
    <ion-tab-button tab="general" *ngIf="notUserRegistered">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>General</ion-label>
    </ion-tab-button>
    <!-- Pestaña de Gastos -->
    <ion-tab-button tab="tab1" *ngIf="!notUserRegistered || ( isMoneyValidated() )">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>
    <!-- Pestaña de Comida -->
    <ion-tab-button tab="tab2" *ngIf="!notUserRegistered || ( isKitchenValidated() )">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Comida</ion-label>
    </ion-tab-button>

    <!-- Pestaña de usuario -->
    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>