<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Panel de Usuario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">
  <ion-grid *ngIf="notUserRegistered">
    <ion-row>
      <ion-col>
        <ion-icon name="person-outline"></ion-icon>
        <ion-nav-link [routerLink]="['/login']" routerDirection="forward">
          <ion-button>Entra</ion-button>
        </ion-nav-link>
      </ion-col>
      <ion-col>
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-nav-link [routerLink]="['/register']" routerDirection="forward">
          <ion-button>Regístrate</ion-button>
        </ion-nav-link>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-title class="title">
        <ion-text>Inicia sesión o Regístrate</ion-text><br />
        <ion-text>para poder usar</ion-text><br />
        <ion-text>la aplicación</ion-text>
      </ion-title>
    </ion-row>
  </ion-grid>
</ion-content>