<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Panel de Usuario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">
  <!-- En caso de que el usuario no esté logeado -->
  <ion-grid *ngIf="!notUserRegistered">
    <ion-row>
      <ion-col>
        <ion-icon name="person-outline"></ion-icon>
        <ion-nav-link [routerLink]="['/login']" routerDirection="forward">
          <ion-button>Entra</ion-button>
        </ion-nav-link>
      </ion-col>
      <ion-col>
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-nav-link [routerLink]="['/register']" routerDirection="forward">
          <ion-button>Regístrate</ion-button>
        </ion-nav-link>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-title class="title">
        <ion-text>Inicia sesión o Regístrate</ion-text><br />
        <ion-text>para poder usar</ion-text><br />
        <ion-text>la aplicación</ion-text>
      </ion-title>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="notUserRegistered">
    Usuario Registrado, muchas gracias, tu Info:<br />
    {{user?.name}},<br />
    {{user?.surname}},<br />
    {{user?.fullname}},<br />
    {{user?.username}},<br />
    {{user?.email}},<br />
    {{user?.isAdmin}},<br />
    {{user?.registerDate}},<br />
    {{user?.lastLoginDate}},<br />
    {{user?.isKitchenValidated}},<br />
    {{user?.isMoneyValidated}}<br />
  </ion-grid>
</ion-content>