@import '../../global.scss';

.full {
    width: 100%;
}

ion-row {
    margin-top: 50px;
}

ion-col {
    display: grid;
    place-items: center;
}

ion-icon {
    width: $l-icon;
    height: $l-icon;
}

.title {
    width: 100%;
    height: 150px;
    font-size: 24px;
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
}