@mixin animateAlternate($animation, $duration, $method, $times, $alternate) {
    animation: $animation $duration $method $times $alternate;
}

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

/* 
https://dev.to/inverseswirl/how-to-add-keyframes-animation-code-in-scss-46k8
.headline{ 
   @include keyframes(fade){
      0%{
      opacity: 1;
      }
     50%{
      opacity: 0.5;
      }
     100%{
      opacity: 0;
     }
    }
  @include animate(fade, 1s, linear, 1);
}
*/