/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './theme/sizes.scss';
@import './theme/variables.scss';
@import './theme/colors.scss';
@import './theme/transitions.scss';
@import './theme/loader.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ion-title,
ion-button,
ion-label,
ion-input::placeholder,
ion-input {
    font-family: 'Poppins', sans-serif;
}

ion-label {
    font-size: 18px;
}

ion-input {
    font-size: 20px;
}

ion-item {
    border-radius: 10px;
    margin: 10px 5px;

    &.item-has-focus {
        border-radius: 10px;
    }
}

ion-title {
    text-align: center;
}

.center {
    display: grid;
    place-items: center;
}

.center-flex {
    display: flex;
}

ion-button {
    width: 150px;
    height: 50px;
}

.danger {
    color: $danger;
}

ion-toolbar {
    display: flex;
}

.tercio {
    width: 33%;
}

.cuarto {
    width: 25%;
}

.quinto {
    width: 20%;
}

.tab-label {
    font-size: 14px;
}