<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Regístrate</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Nombre -->
  <ion-item>
    <ion-label position="stacked" for="name">Nombre</ion-label>
    <ion-input type="text" placeholder="Cristóbal José Jiménez Gómez" id="name"></ion-input>
  </ion-item>
  <!-- Email -->
  <ion-item>
    <ion-label position="stacked" for="email">Correo Electrónico</ion-label>
    <ion-input type="text" placeholder="cjjg@gmail.com" id="email"></ion-input>
  </ion-item>
  <!-- Contraseña -->
  <ion-item>
    <ion-label position="stacked" for="pass">Contraseña</ion-label>
    <ion-input type="text" placeholder="123456789Abc" id="pass"></ion-input>
  </ion-item>
  <!-- Repetir Contraseña -->
  <ion-item>
    <ion-label position="stacked" for="rpass">Repite la contraseña</ion-label>
    <ion-input type="text" placeholder="123456789Abc" id="rpass"></ion-input>
  </ion-item>

  <ion-button>Enviar</ion-button>

</ion-content>